# Dependencies
client/node_modules
client/package-lock.json

truffle/node_modules
truffle/package-lock.json

client/yarn.lock
truffle/yarn.lock

client/src/contracts

# IDEs and editors
/.idea

# Misc
.DS_Store
truffle/.DS_Store
client/.DS_Store
client/src/.DS_Store
*.pem
*.log
.vscode
# Production #
##############
/build/
